/.idea
/target
/releaseChecklist.md
/gpgfix.txt
/ncl-maven.iml
/ncl-maven/target/
/ncl-core/target/
/naming-convention-liquibase-maven-plugin.iml
/ncl-maven/.flattened-pom.xml
/.flattened-pom.xml
/ncl-core/.flattened-pom.xml
